html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0.5rem;

    * {
        margin: 0;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: start;
    margin-bottom: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.blog {
    border: 1px #000 solid;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    gap: 0.5rem;
    
    .controls {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        button {
            height: 1.5rem;
        }
    }

    .blog-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #eee;
        padding: 0.3rem;
        border-radius: 0.5rem;

        p {
            font-size: 1rem;
        }
    }
}
